.banBas{
	@include BanWhite;
	&__list{
		margin-left: 1%;
	}
	&__logo{
		width: 7.5em;
		margin-bottom: -1em;
		display: block;
	}
	li{
		display: inline-block;
    background-color: #FFF;
    padding-left: 1em;
	}
}
.logoF{
	width: 77px;
	height: 36px;
}
.List{
	&__elt a {
	padding: 0.5em 0.7em;
	background-color: #f8f8f8;
	color:  #7C7C7C;
	font-size: 0.8em;
	border: 1px solid #D3D3D3;
	border-radius: 2px;
	margin-top: 1em;
	float: left;
	}
}
@media (max-width:530px) {
	.banBas{
		&__logo{
			width: 7em;
			    margin-left: -44%;
		}

	}
	.List__logo{
		margin-right: 8%;
	}
}



@media (max-width: 455px){
	.banBas {
     width: 32.4em;
	 }
}
