
@font-face {
    font-family: "Glyphs";
    font-style: normal;
    font-weight: normal;
    src: url("../../../font/fontawesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
     url("../../../font/fontawesome/fontawesome-webfont.woff2") format("woff2"),
      url("../../../font/fontawesome/fontawesome-webfont.woff") format("woff"),
       url("../../../font/fontawesome/fontafontawesome-webfont.ttf") format("truetype"),
        url("../../../font/fontawesome/fontawesome-webfont.svg#fontawesomeregular") format("svg");
}
@font-face {
    font-family: 'robotoregular';
    src: url('../../../font/roboto/Roboto-Regular-webfont.eot');
    src: url('../../../font/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../font/roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('../../../font/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../../../font/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$fontText:   'robotoregular', sans-serif;
$glyph: 'Glyphs';
